.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white,  .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    & > * { //skew all opposite direction 
        transform: skewX(12deg); //because transforms are being applied later, they take precendence, and you need to set this to the shape and text also
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;

        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); //needs to have height and widths defined and be floated for this property to work 
        //-- this just defines how the content will flow around  

        clip-path: circle(50% at 50% 50%); //this makes it visibly a circle

        transform: translateX(-3rem) skewX(12deg); 
        position: relative;
    }

    &__img{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__text{
        transform: skewX(12deg); 
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden; //fix glitch
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%); //below 100 makes darker
    }
}